.navButton {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem 0.75rem;  
  margin-right: 1rem;
  transition: 0.1s;  
  cursor: pointer;
}
.navButton:last-child {
  margin-right: 0;
}
.navButton--primary {
  color: #fff;
  border-color: #64a816;
  background-color: #64a816;
}
.navButton--primary:hover {
  background-color: #508a00;
  border-color: #508a00;

}
.navButton--outline {
  color: #29383c;
  border-color:  #29383c;
}
.navButton--outline:hover {
  background: #29383c;
  color: #fff;
}
