.Card {
  display: block;
  position: relative;
  width: 32%;
  margin: 0 1%;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}

.Card:nth-child(3n + 1) {
  margin: 0;
}
.Card__header {
  position: relative;
  padding: 0 0 1.5rem;
}
.Card__background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 180px;
}
.Card__title {
  color: #29383c;
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.Card__description {
  color: #747474;
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 0 0 3rem;
}
.Card__meta {
  position: absolute;
  bottom: 0;
  /* left: 1rem; */
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.Card__meta img {
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid white;
  margin-right: 1rem;
}
.Card__type {
  display: inline-block;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #747474;
}

.Card__target {
  font-weight: bold;
  color: black;
}

.Card__content {
  padding: 0 1rem;
}
