.Filters {
  border: 1px solid #e4e4e4;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1rem;
}

.Filter__title {
  margin: 0;
}

.Filters__wrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Filter__label {
    position:absolute;
    left:-10000px;
    top:auto;
    overflow:hidden;
}
.Filter__label:focus {
  left: auto;
}
.Filter__input, .Filter__button {
  border: 1px solid #e4e4e4;
  padding: 1rem;
  font-size: 1rem;
  background: white;
}
